.nav{
    background-color: rgb(44, 62, 80) !important;
}
.log{
    font-size: 30px ;
    font-weight: 700;
}
.a{
    font-size: 20px;
    font-weight: 500;


}
.active{
background-color: rgb(96, 197, 163);

border-radius: 10px;




}